body {
    font-family: Arial, sans-serif;
    background: url('laundry.jpeg') center center fixed; /* Replace 'your-background-image.jpg' with the actual image file path */
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.8); /* Faded white background */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: box-shadow 0.3s ease-in-out;
}

.login-container:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
}

input:focus {
    border-color: #007bff;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #0056b3;
}

/* Style for the sign-up link */
.signup-link {
    margin-top: 15px;
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
    display: block;
}

.signup-link:hover {
    text-decoration: underline;
}